  <li>
    <div>
      <div><%= link_to image_tag(dog.image, alt: dog.name), dog_path(dog.id) %></div>
      <h2><%= link_to dog.name, dog_path(dog.id) %></h2>

      <ul>
        <% dog_match = dog.dog_matches.where(user_id: current_user.id).first %>
        <% if dog_match.is_favorite.present? && dog_match.is_favorite %>
          <li class="inline">
            <%= link_to dog_match_path(dog_match.id, is_favorite: false), method: :patch, title: "Unfavorite" do %>
              <i class="fi-star unfavorite"></i>
            <% end %>
          </li>
        <% else %>
          <li class="inline favorite">
            <%= link_to dog_match_path(dog_match.id, is_favorite: true), method: :patch, title: "Favorite" do %>
              <i class="fi-star favorite"></i>
            <% end %>
          </li>
        <% end %>

        <li class="inline">
          <%= link_to dog_match_path(dog.id), method: :delete, title: "Remove" do %>
            <i class="fi-x remove"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
