  <li class="dog-list">
    <%= link_to dog_path(dog.id) do %>

      <div class="card">
        <div class="card-image"><%= image_tag(dog.image, alt: dog.name) %></div>
        <div class="card-name"><h3><%= dog.name %></h3></div>
        <div class="card-info">
          <p><%= dog.age.downcase %> | <%= dog.size.downcase %> | <%= dog.gender.downcase %></p>
          <p><%= link_to dog.shelter.name, dog.shelter.url, target: "_blank" %></p>

          <% dog_match = dog.dog_matches.where(user_id: current_user.id).first %>
          <% if dog_match.is_favorite.present? && dog_match.is_favorite %>
            <p class="text-right">
              <%= link_to dog_match_path(dog_match.id, is_favorite: false), method: :patch, title: "Unfavorite" do %>
                <i class="fi-heart unfavorite"></i>
              <% end %>
            </p>
          <% else %>
            <p class="text-right favorite">
              <%= link_to dog_match_path(dog_match.id, is_favorite: true), method: :patch, title: "Favorite" do %>
                <i class="fi-heart favorite"></i>
              <% end %>
            </p>
          <% end %>

      </div>

    <% end %>
  </li>
