<% @meta_title = "Dog Fortunes || #{@random_dog_name}" %>
<% @meta_description = @random_dog_message %>
<% @meta_image = @random_dog.image %>
<% @meta_url = request.url %>

<div class="row">
  <div class="small-12 medium-8 small-centered columns">
    <div class="random-dog-container">

    <style>
      .random-dog-container { background-image: url(<%= @random_dog.image %>); }
    </style>

    <div class="fortune text-center">
      <p><%= @random_dog.name.split(/\b/).first %> says...<br><%= @fortune %></p>
    </div>

      <%= link_to(dog_path(id: @random_dog.id), method: :get, title: "Match") do %>
        <div class="action-buttons text-left">
          <p><i class="fi-check"></i></p>
        </div>
      <% end %>

      <%= link_to(random_dog_path(zip: params[:zip]), method: :get, title: "Flip") do %>
        <div class="action-buttons text-right">
          <p><i class="fi-arrow-right"></i></p>
        </div>
      <% end %>

<!--       <div class="random-dog-image inline">
        <%= image_tag(@random_dog.image, alt: @random_dog.name, class: "random-dog") %>
      </div>
 -->


    </div>
  </div>
</div>

