<% @meta_title = "Dog Fortunes || #{@dog.name.split(/\b/).first}" %>
<% @meta_description = "#{@dog.name.split(/\b/).first} says... #{@dog_query.fortune if @dog_query.present?}" %>
<% @meta_image = @dog.image %>
<% @meta_url = request.url %>

<div class="info-page row">
  <div class="small-12 medium-4 columns">
    <%= render "shared/card", dog: @dog %>
  </div>
  <div class="description small-12 medium-8 columns">
    <h3>About <%= @dog.name %></h3>
    <p><%= @dog.description %></p>
    <blockquote cite="http://www.fortunecookiemessage.com/">
      <p><%= @dog.name.split(/\b/).first %> says... <br>
        <% if @dog_query.present? && @dog_query.fortune.present? %>
          <%= @dog_query.fortune %>
        <% end %>
      </p>
    </blockquote>
    <p><%= link_to "View on Petfinder", @dog.url, target: "_blank" %></p>
    <% if @dog_query.present? && @dog_query.fortune.present? %>
      <p><%= link_to "Other Dogs in the Area", random_dog_path(zip: @dog_query.zip), method: :get %></p>
    <% end %>
  </div>
</div>

