<h1 class="name"><%= @dog.name %></h1>
<div class="age"><p><%= @dog.age %></p></div>
<div class="size"><p><%= @dog.size %></p></div>
<div class="gender"><p><%= @dog.gender %></p></div>
<div class="image"><%= image_tag @dog.image, alt: @dog.name %></div>
<div class="description"><p><%= @dog.description %></p></div>
