<div id="banner">
  <div id="browse">
    <h1 class="text-center banner-text">Find a rescue dog</h1>

    <%= form_tag(random_dog_path, method: :get) do %>
      <div class="row">
        <div class="medium-4 small-centered columns">
          <div class="row collapse">

            <div class="small-10 columns">
              <%= text_field_tag :zip, params[:zip], placeholder: "Enter Zip Code" %>
            </div>

            <div class="small-2 columns">
              <%= button_tag(type: "submit", id: "Search", class: "search-button button postfix radius") do %>
                <i class="fi-magnifying-glass"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if flash[:notice].present? %>
      <p class="notice text-center banner-text"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert].present? %>
      <p class="alert text-center banner-text"><%= flash[:alert] %></p>
    <% end %>

  </div>
</div>

<div class="row homepage-section">
  <div class="small-12 columns text-center">
    <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
      <li>
        <div><i class="fi-magnifying-glass feature-icon"></i></div>
        <h3>Search</h3>
        <p>Search for rescue dogs by zip code. You will see a picture of a dog chosen at random from 25 rescue dogs in your area.</p>
      </li>

      <li>
        <div><i class="fi-arrow-right feature-icon"></i></div>
        <h3>Flip</h3>
        <p>Flip through dogs until you find a dog you like. Each dog is chosen at random. If you see a duplicate, just keep flipping!</p>
      </li>

      <li>
        <div><i class="fi-check feature-icon"></i></div>
        <h3>Match</h3>
        <p>When you find a dog you like hit the check to mark it as a match and learn more about the dog.</p>
      </li>

      <li>
        <div><i class="fi-thumbnails feature-icon"></i></div>
        <h3>Track</h3>
        <p>Registered users can track their matches. Registration is free and does not require a valid email.</p>
      </li>

      <li>
        <div><i class="fi-heart feature-icon"></i></div>
        <h3>Favorites</h3>
        <p>Registered users can add dog matches to their favorites to narrow down the search for their top dog.</p>
      </li>

      <li>
        <div><i class="fi-crown feature-icon"></i></div>
        <h3>Top Dog</h3>
        <p>Registered users can pick one dog from their favorites to be their top dog. Just remember, only one dog can wear the crown at a time.</p>
      </li>
    </ul>
  </div>
</div>

<div id="stats-section">
  <div class="row homepage-section">
    <div class="small-12 columns text-center">
      <ul class="medium-block-grid-4 small-block-grid-1">
        <li><h2><%= @user_count %> <i class="fi-torso"></i></h2></li>
        <li><h2><%= @dog_matches %> <i class="fi-check"></i></h2></li>
        <li><h2><%= @dog_favorites %> <i class="fi-heart"></i></h2></li>
        <li><h2><%= @dog_top %> <i class="fi-crown"></i></h2></li>
      </ul>
    </div>
  </div>
</div>

