<!DOCTYPE html>
<html>
<head>
  <title>RescueDogs</title>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.0/css/foundation.min.css' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.0/js/foundation.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class= "name">
          <h1><%= link_to root_path do %>Rescue Dogs<% end %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if user_signed_in? %>
            <li class="has-dropdown">
              <a href="#"><%= current_user.username %></a>
              <ul class="dropdown">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, class: "small button" %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
</header>

<div class="row">
  <div class="small-12 columns centered">

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
    <% end %>

    <%= yield %>

  </div>
</div>

</body>
</html>
