<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RescueDogs</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class= "name">
          <h1><%= link_to root_path do %>Rescue Dogs<% end %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if user_signed_in? %>
            <li>
              <%= link_to dog_matches_path, title: "Matches" do %>
                <i class="fi-check"></i> Matches
              <% end %>
            </li>
            <li>
              <%= link_to dog_matches_path(favorite: true), title: "Favorites" do %>
                <i class="fi-heart"></i> Favorites
              <% end %>
            </li>
            <li class="has-dropdown">
              <%= link_to "#" do %>
                <i class="fi-torso"></i> <%= current_user.username %>
              <% end %>
              <ul class="dropdown">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, class: "small button radius" %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>

<% if request.path == "/" %>

  <%= yield %>

<% else %>
  <div class="row", id="root">
    <div class="small-12 columns">

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, :class => "flash_#{name}" %>
        <% end %>
      <% end %>

      <%= yield %>

    </div>
  </div>
<% end %>

<footer id="footer" class="text-center">
  <h3><%= link_to "Hire the Developer!", "https://www.linkedin.com/pub/devin-dreszer/2b/a41/338", target: "_blank" %></h3>
  <p>Powered by <%= link_to "petfinder.com", "https://www.petfinder.com/", target: "_blank" %></p>
</footer>

<%= javascript_include_tag "application" %>
</body>
</html>
